.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: auto;
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  }
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.font{
  color: whitesmoke;
  font-size: 5rem;
}
#contact{
  background-color: ;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.display-5{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.im-fell-great-primer-sc-regular {
  font-family: "IM Fell Great Primer SC", serif;
  font-weight: 400;
  font-style: normal;
}
.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #c72b2b;
  border-radius: 50%;
}
.text{
  font-size: 5rem;
  font-weight: 500;
}
.best-website{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.names{
  font-weight: 500;
}
.comments{
  font-weight: 300;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}
body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
}
:
@media (min-width: 768px) {
  .pt-md-5 {
    padding-top: 3rem !important;
  }
}
@media (min-width: 768px) {
  .my-md-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
}
.pt-4 {
  padding-top: 1.5rem !important;
}
.border-top {
  border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}
body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
}